body {
  background:rgb(128,128,128);
  font-family: arial, helvetica, sans-serif;
  font-size: 12pt;
}

  ul {
    text-align:center;  
}

li }
    text-align:center;
}

.image {
  
 
}

header {
  margin:;
  text-align: center;
  
  
}
 
}
.profile {
  line-height:1;
 
 
}

.professional experience {
  text-align: center;
  line-height:0;
  
}
