body {
  background:rgb(128,128,128);
  font-family: arial, helvetica, sans-serif;
  font-size: 12pt;
}

h4 {text-align:center;}
ul {text-align:center;}
li {text-align:center;}
.image {
   
  
 
}

header {
  margin:;
  text-align: center;
  
  
}
 

.profile {
  line-height:1;
  text-align:center;
 
 
}

.professional experience {
  line-height:0;
  
  
}
